<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dinesh.stateviewer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>StateViewer</name>
    <description>
        A sample Apache Cordova application that retrieves data from webservice
    </description>
    <author email="dineshkumar.r@cgvakindia.com" href="http://cordova.io">
        Dinesh Raja
    </author>
    <content src="index.html" />
    <access origin="*" />

     <!--Preferences-->
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="StatusBarOverlaysWebView" value="true" />

    <!--ICON FOR ALL-->
    <icon src="icon.png" />
    <!--ICON FOR ios-->
    <icon src="res/icon/ios/icon-60@3x.png" gap:platform="ios" width="180" height="180" />
    <icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="res/icon/ios/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-76@2x.png" gap:platform="ios" width="152" height="152" />
    <icon src="res/icon/ios/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!--ICONS FOR Android-->
    <icon src="res/icon/android/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/android/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/android/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/android/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/icon/android/xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="res/icon/android/fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
    
</widget>
